* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #000000;
    height: 100vh;
    transition: all 250ms ease; 
}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
    padding: 2rem 0.5rem;
}

section {
  width: 100%;
  min-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #000000;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="name"],
input[type="surname"],
select,
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

label,
button {
    margin-top: 1rem;
}

button {
height: 42px;
border: none;
background-color: rgba(0,0,0,0.4);
color: #f2f2f2;
padding: 10px;
font-size: 18px;
border-radius: 12px;
position: relative;
box-sizing: border-box;
transition: all 500ms ease; 
}

:disabled {
    color: #fff;
    background-color: #000;
}

:disabled:hover {
    color:#fff;
    background-color: #000;
}

button:hover {
	background: #fff;
	color: #000;
	box-shadow: inset 0 0 0 3px #3a7999;
}

li {
    list-style-type: none;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav-logout a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-logout a.active {
    background-color: #333;
    color: white;
  }
  .topnav-right {
    float: right;
  }

  .topnav-main{
    display: block;
  }

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}
.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 500ms ease; 
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


